.filtersContainer {
  width: 350px;
  padding: 15px;
}

.filterItem {
  width: 100%;
  color: white;
}

.filterText {
  color: white;
}

.profileContainer {
  width: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  border-radius: 25px;
  height: 230px;
  padding: 20px;
}

.profileFailure {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.retryButton {
  background-color: #6366f1;
  color: white;
  cursor: pointer;
  font-size: 15px;
  border: 0px;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}

.profileName {
  font-size: 25px;
  color: #6366f1;
}

.profileDescription {
  font-size: 15px;
  color: #64748b;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

ul {
  padding: 0px;
}

.filterHeading {
  color: white;
}

.jobs {
  width: 100%;
}

.searchJobsBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-color: #cbd5e1;
  height: 40px;
  width: 600px;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
}

.searchJobs {
  color: white;
  background-color: black;
  font-size: 15px;
  border: 0px;
  flex-grow: 1;
  outline: none;
}

.searchIcon {
  color: #cbd5e1;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

@media (min-width: 769px) {
  .mobileContainer {
    display: none;
  }

  .jobsContainer {
    display: flex;
    background-color: black;
    padding: 25px;
  }
}
@media (max-width: 768px) {
  .mobileContainer {
    display: block;
    width: 100vw;
    background-color: black;
    padding: 15px;
  }

  .jobsContainer {
    display: none;
  }

  .mobileJobsContainer {
    display: flex;
    flex-direction: column;
  }

  .searchJobsBar {
    width: 100%;
    margin-bottom: 15px;
  }

  .searchJobs {
    font-size: 20px;
  }

  .filtersContainer {
    padding: 0px;
  }
}